body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
  margin-bottom: 50px;
}

.time-block {
  min-height: 75px;
}

.time {
  padding: 10px;
  border-top: #727272 1px solid;
  border-right: #727272 1px solid;
  text-align: right;
}

.summary {
  border: none;
  border-top: #FFFFFF 1px solid;
  border-bottom: #FFFFFF 1px solid;
  resize: none;
  padding: 10px;
}

.past {
  background-color: #d3d3d3;
  /* color: white; */
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border: #FFFFFF solid 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn:active {
  background-color: #159ac2;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width:575px) {
  .time-block {
    margin: 5px 5%;
  }

  .time {
    text-align: left;
  }

  .summary {
    border: none;
    border-right: #727272 solid 1px;
    height: 75px;
  }

  .saveBtn {
    height: 40px;
    border-top: none;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }
}
